.newsPreview {
    display: flex;
    align-items: center;
    padding: 0.4rem 0;
    


    .newsImage {
        width: 3.5rem;
        aspect-ratio: 1/1;
        object-fit: cover;

    }

    .newsHeading {
        padding: 0 1rem;
        p {
            margin: 0;
            font-size: 1rem;
            font-weight: bolder;
        }

        span {
            font-size: 0.8rem;
            color: rgb(83, 83, 255);
        }
    }
}