.elebox{
    width: 50%;
    height: 30%;
    padding: 1rem;
    margin: 1rem;
}
.ele{
    color: rgb(4, 112, 244);
    font-size: medium;
}
.texts{
    color: black;
}
.Readbtn{
    color: whitesmoke;
    background-color: rgb(4,112,244);
    padding: 5px;
    border-radius: 2px;
}