.fourth{
    max-width: 20rem;
    color: white;
    .contact{
        padding: 1rem 0;

    }

    .contactMethod{
        display: flex;
        align-items: center;
        padding: 0.8rem 0;

    }

    .contactInfo{
        padding: 0 0.8rem;
        font-size: 0.9rem;
    }
    
    
}