@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.quoteContainer{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    height: 80vh;
.quote_div{
    display: flex;
    justify-content: space-around;
    height: 100%;
    flex-wrap: wrap;
    background-color: rgba(68, 68, 68, 0.404);
    color: white;
    padding: 5% 7%;
    .quote{
        padding: 2rem;
        h1{
            font-family: 'Poppins', sans-serif;
            font-size: 2.3rem;
        }
    }

    .aptBtn{
        button{
            color: white;
            font-weight: bolder;
            font-family: 'Poppins', sans-serif;
            font-size: 1.1rem;
            width: 17rem;
            padding: 1rem 2rem;
            border: 2px solid white;
            background:none;
            &:hover{
                background-color: rgb(100, 154, 255, 0.5);
                cursor: pointer;
            }
        }
    }
}
}

.centerUsingFlex{
    display: flex;
    justify-content: center;
    align-items: center;

}
