.Doct{
    height: 100%;
    
    background-color: rgb(3, 90, 195);
    padding: 2rem 2rem;
    color: whitesmoke;

    .DocPara{
        padding: 1rem 0rem;
    }
    .readMorebtn{
       color: whitesmoke;
       padding: 0.2rem 0.3rem;
       cursor: pointer;
    }
    #ReadDoc{
    background-color: rgb(3, 90, 195);
    border: 0.1rem solid white;
    }
}
