.container{
    width: 95vw;
    height: 40vh;
   display: flex;
}
.box{
    height: 100%;
    width: 30%;
    padding: 1rem;
    color: whitesmoke;
}
h3{
    color: black;
}
h4{
    color: whitesmoke;
}
#box1{
    background-color: rgb(14, 188, 247);
}
#box3{
    background-color: rgb(15, 129, 237);
}
#box3{
    background-color: rgb(4, 49, 197);
}

.read{
    padding: 3px;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}
.inputts{
    color:rgb(15, 129, 237) ;
    height: 2rem;
    width: 20rem;
}
.MakeApnt{
    color: whitesmoke;
    padding: 0.3rem;
    border: 2px solid whitesmoke;
    border-radius: 2px;
}