.HeadingImage {
    height: 30rem;
    width: 100%;
    overflow: hidden;
    background-image: url(https://cdn.pixabay.com/photo/2017/09/03/09/48/head-2709732_1280.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;


    .virtualbox {
        background-color: rgba(10, 93, 165, 0.5);

        height: 100%;
        width: 100%;
        display: grid;
        align-items: center;
        font-size: 5rem;
        color: rgb(243, 239, 245);


    }
}

.ServiceContainer {
    padding: 5rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;

    .ServiceBox {
        height: fit-content;
        background-color: white;
        border: 1px solid rgba(128, 128, 128, 0.625);
        border-radius: 5px;
        margin: 1rem;
        padding: 1rem;
        &:hover{
            border: 1px solid rgba(128, 128, 128);

        }

        .ServImg {
            height: 40%;
            width: 100%;
        }

        .servicePara {
            padding: 1rem 0;
        }

        .readMorebtn {
            color: white;
            padding: 0.3rem 0.4rem;
            cursor: pointer;
            background-color: rgb(16, 194, 243);
            border: 1px solid rgba(128, 128, 128, 0.5);
            border-radius: 2px;
            &:hover{
                border: 1px solid rgba(128, 128, 128);
    
            }
        }
    }

}

@media screen and (max-width: 993px) {
    .ServiceContainer {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 2rem;
        justify-content: center;
    }


}

@media screen and (max-width: 768px) {
    .ServiceContainer {
        display: grid;
        grid-template-columns: 100%;
        padding: 2rem;

    }

    .HeadingImage {
        height: 20rem;

        .virtualbox {
            font-size: 3.5rem;
        }
    }


}

