// *{
//    margin: 0;
//    box-sizing: border-box;
// }
.cover{
   background-color: #4d4dff;
}
.carousel-container{
   display:flex;
   position: relative;
   overflow: hidden;
}

.button-div{
   
   @keyframes bounce {
      from { 
         opacity: 0.2;
         transform: translate3d(0,200px,0)
      }
      to { 
         opacity: 1;
         transform: translate3d(0,0,0)}
      }
      animation: bounce 2s;
      animation-direction: alternate;
      animation-iteration-count: 1;
      
      position: absolute;
      color: rgb(0, 0, 0);
      z-index: 1;
      height: 40.625rem;
      justify-content: center;
      transform: cubic-bezier(0.075, 0.82, 0.165, 1);
      background-color: transparent;
      padding: 18rem 0 0 7%;
      
      .description{
         font-weight: bold;

         .heading-name{
            font-size: 3rem;
            line-height: 1.2;
            letter-spacing: 4px;
            overflow:inherit;
      
         }
         .Heading-Description{
            font-size: 1.2rem;
         }
      }
      
      
      button{
         margin: 5px;
         padding: 2px 0 2px 0;
         height: auto;
         font-size: 18px;
         border: 2px white;
         cursor: pointer;
      }
      
      .all-button{
         display: flex;
      }
      .appointment{
         width: 12.6rem;
         background-color: transparent;
         color: white;
         border: 2px solid white;
         
      }
      .read-more{
         width: 8.19rem;
         background-color: #4d4dff;
         color: white;
      }
   }

   .carousel-item{
      height: 41rem;
      min-width: 100%;
      width: 100%;
      display: flex;   
      background-color: #4d4dff;   
      justify-content: center;
      transition: 2s cubic-bezier(0.39, 0.575, 0.565, 1);
      
      img{
         object-fit: cover;
         background-repeat: no-repeat;
         height: 100%;
         width: 100%;
      }
   }
   

   @media screen and (max-width: 900px) {
      .carousel-item, .button-div{
         height: 31.25rem;
         transition: ease-in-out 1s;
      }  
      .button-div{
         padding: 11.34rem 0 0 7%;
         .description{
   
            .heading-name{
               font-size: 2.8rem;
               line-height: 1.1;
               letter-spacing: 0.25rem;
         
            }
            .heading-description{
               font-size: 1.57rem;
               margin-top: -2.5rem;
            }
         }
        }
    }