.container {
  display: block;
  font-family: sans-serif;
  color: rgb(255, 255, 255);

  .t {
    background-image: url("/nurse.webp");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
  }
  .f-white {
    color: white;
  }
  .bgcolor-blue {
    background-color: rgba(36, 62, 255, 0.6);
    margin: 0;
    padding: 10px;
  }
  .tc {
    text-align: center;
    padding: 35px;
  }
  .tc img {
    border-radius: 50%;
  }
  .tc h4 {
    padding: 10px;
    font-size: larger;
    font-weight: 500;
  }
  .testimonials {
    margin-left: auto;
    margin-right: auto;
    padding: 80px 0px 30px 0px;
    max-width: 700px;
  }
  .testimonials h2 {
    font-size: 2rem;
  }
  .lines {
    padding: 0rem 12rem 3rem 12rem;
    font-size: 1.5rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 10px 30px 10px;
  }

  .numbers{
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,0.25fr);
      background: linear-gradient(to right, #3de6fa, #243eff);
    
      .numbers_div{
        transition: 1s ease;
      font-size: 2rem;
      padding: 4rem 0.5rem;
      font-weight: bold;

      p{
        font-size: 1.2rem;
      }

    }

  }
 
  @media only screen and (max-width:900px){
    
    .numbers{
      display: grid;
      grid-template-columns: repeat(2,0.5fr);
      .numbers_div{
        transition: all 1s ease;
        padding: 2rem 0.5rem;
        font-size: 1.8rem;
        p{
          font-size: 1.1rem;
        }
      }
    }
    .lines{
      padding: 0rem 2rem 2rem 2rem;
      font-size: 1.2rem;
    }
  }
 
}

