.icons_container{
    display: grid;
    padding: 0 15px 8vw 15px;
    grid-template-columns: repeat(5,12%);
    justify-content: space-between;
    align-items: center;
    grid-gap: 5%;
    width: 90%;
    margin: auto;
    
    img{
        width: 100%;
    }
    span{
        max-width: 100%;
        margin: auto;
        height: auto;
    
    }
    @media screen and (max-width:992px){
        padding-top: 8vh;
        width: 95%;
        
    }
}