.holderContainer {
    
    .holderHeading {
        padding: 2rem 0;
        .headingTitle {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 100;
            height: 100%;
            width: 100%;
        }
    }

    .holder{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: 1rem 2rem;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
        @media screen and ( max-width:600px) {
                display: none;
        }
    }
}

.cardCarousal{

    padding: 0.2rem 0;
    height: fit-content;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
   
    #controller{
        display: flex;
        justify-content: space-between;
        border: 2px solid black;
        padding: 0 0.5rem;
    }

    @media screen and ( min-width:600px) {
        display: none;
}
}